---
---

<div class="flex justify-between items-center px-10 mb-[64px]">
  <p class="text-center text-[24px]">contacts</p>
  <div>
    <button class="text-sm border border-[#636363] px-[28px] py-[8px] mr-2"
      >github</button
    >
    <button class="text-sm border border-[#636363] px-[28px] py-[8px]"
      >linkedin</button
    >
  </div>
</div>

<a class="px-10 underline underline-offset-4 text-[36px]">
  rivooktisa31@gmail.com
</a>
