---
---

<div class="h-screen flex flex-col justify-between">
  <div class="w-full h-[100px] flex justify-between items-center px-10">
    <p class="text-center">portfolio</p>
    <hr class="w-full mx-[47px]" />
    <p class="text-center">2022</p>
    <hr class="w-full mx-[47px]" />
    <p class="min-w-[90px] text-center">rivo sukma</p>
  </div>

  <div class="w-full min-h-[500px] flex justify-center items-center">
    <h1
      class="text-center text-[20vw] opacity-[65%] font-[700] leading-[16vw] tracking-[0.005em]"
    >
      frontend engineer
    </h1>
  </div>

  <div class="w-full h-[100px] flex justify-between items-center px-10">
    <p class="min-w-[80px] max-w-[360px] text-start">
      im from Indonesia and currently working as frontend, also curious about
      product.
    </p>
    <hr class="w-full mx-[47px]" />
    <button class="text-sm border border-[#636363] px-[28px] py-[8px]"
      >contact</button
    >
  </div>
</div>
