---
import "../../styles/marquee.scss";
---

<div class="mx-[120px] m-w-[2048px] 3xl:mx-auto">
  <div class="flex justify-between items-center px-10">
    <p class="text-center text-[24px]">stacks</p>
    <hr class="w-full ml-[47px]" />
  </div>
</div>

<div class="marquee">
  <a class="marquee-wrapper">
    <div class="marquee-inner">
      <span class="inner">
        <span>
          ReactJS - NextJS - AstroJS - Typescript - ReactQuery - Redux -
          Tailwind - HTML - CSS - Sass
        </span>
      </span>
      <span class="inner">
        <span
          >ReactJS - NextJS - AstroJS - Typescript - ReactQuery - Redux -
          Tailwind - HTML - CSS - Sass
        </span>
      </span>
    </div>
  </a>
</div>

<div class="mx-[120px] m-w-[2048px] 3xl:mx-auto">
  <div class="flex justify-between items-center px-10">
    <hr class="w-full mr-[47px]" />
    <p class="min-w-[80px] max-w-[400px] text-start">
      i really enjoyed building web apps with all of this stacks but exploring
      other stacks, why not?
    </p>
  </div>
</div>
