---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/landing/Hero.astro";
import Stack from "../components/landing/Stack.astro";
import Contact from "../components/landing/Contact.astro";
import Project from "../components/landing/Project.astro";
---

<Layout title="Rivo Putra Personal Site">
  <main>
    <div class="mx-[120px] m-w-[2048px] 3xl:mx-auto">
      <Hero />
      <Project />
    </div>
    <div class="my-[140px]">
      <Stack />
    </div>
    <div class="mx-[120px] m-w-[2048px] 3xl:mx-auto mb-[120px]">
      <Contact />
    </div>
  </main>
</Layout>
